html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(53, 53, 53)
}

button {
    background-color: #ffffff;
    border-color: rgb(53, 53, 53);
    color: rgb(53, 53, 53);
}

button:hover {
    background-color: rgb(53, 53, 53);
    color: #ffffff;
}

footer {
    background-color: rgb(53, 53, 53);
}

.transparent-navbar {
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
}

.highlight--underline {
    position: relative;
    font-size: 1.2em;
}

.highlight--underline::after {
    content: "";
    position: absolute;
    bottom: 0.2em;
    left: 0;
    right: 0;
    top: calc(100% - 0.4em);
    background: #ffe4c1;
    z-index: -1;
}

.sub-header {
  color: #7d7d7d;
}

#founder_message {
  font-family: 'Overlock', cursive;
}

.result-table { 
  border-collapse: collapse;
  margin:0 auto !important;
}

.result-table td, .result-table th {
  border: 1px solid #7d7d7d;
  padding: 8px;
}

.result-table th {
  font-weight: normal;
}

@media screen and (max-width:640px)
{
  tr, th {
      display:block;
  }

  th:nth-of-type(1):before { content: "#"; }
  th:nth-of-type(2):before { content: "Name: "; }
  th:nth-of-type(3):before { content: "Student ID: "; }
  th:nth-of-type(4):before { content: "Final Result: "; }
  th:nth-of-type(5):before { content: "University: "; }
}